@import 'src/app/electronic-formats/global-styles';

.arrow-down {

    select {
        //background: URL(./../../../../assets/img/BCOM-077/arrow_down.png) no-repeat 23em 12px #fff !important;
        font-size: get-fontPixels(normal);
        font-weight: bold;
        color: get-color(primary-color-3);
        appearance: none;
        border-radius: 2em;
        border-color: get-color(primary-color-3);
        cursor: pointer;
    }

    label {
        // Necesitamos este elemento aunque esté oculto,
        // porque "sonar" pide que todos los form elements tengan un label asociado.
        display: none;
    }
}
