<div class="arrow-down">
  <label for="idAux"></label>
  <select id="idAux" class="form-control" (change)="changeSelected($event)">
    <option *ngFor="let option of options" [value]="option['id']" [attr.selected]="(option['id'] == selectedOption['id']) || (option['selected'] == true) ? 'selected' : null" [attr.disabled]="option['enabled'] == false ? 'disabled' : null" >{{ option['label'] }}</option>
  </select>
</div>