
@import 'src/app/electronic-formats/global-styles';

.ef-num-cuenta-container {
    width: 50%;
    font-size: get-fontPixels(normal);
}

.ef-customer-data-container {
    width: 50%;
    margin: 0 auto;
    font-size: get-fontPixels(normal);
    color: get-color(primary-color-3);
    text-align: center;

    .ef-question {
        font-size: get-fontPixels(big);
        font-weight: bold;
        margin-bottom: 30px;
    }

    .ef-customer-data {
        margin-bottom: 40px;
    }    
}

.ef-error-container {    
    font-size: get-fontPixels(normal);
    text-align: center;

    .ef-error {
        color: get-color(primary-color-5);
        margin-bottom: 50px;
    }
}
