<form novalidate [formGroup]="frmNumCuentaCliente" (ngSubmit)="validateNumCuentaCliente()">
  <div class="ef-row ef-content-center">
    <div class="ef-num-cuenta-container">
      <label for="num-cuenta-cliente" class="ef-form-control-label">Captura el n&uacute;mero de cuenta correspondientes a la chequera que se va entregar:</label>
      <input type="text" formControlName="numCuentaCliente" id="num-cuenta-cliente" class="form-control ef-form-control"
        maxlength="11" #numCuentaCliente>
      <div
        *ngIf="frmNumCuentaCliente.get('numCuentaCliente').touched && frmNumCuentaCliente.get('numCuentaCliente').invalid"
        class="ef-input-alert">
        <div *ngIf="frmNumCuentaCliente.get('numCuentaCliente').hasError('required')">
          N&uacute;mero de cuenta es requerido.
        </div>
        <div *ngIf="frmNumCuentaCliente.get('numCuentaCliente').hasError('pattern')">
          N&uacute;mero de cuenta inv&aacute;lido.
        </div>
        <div
          *ngIf="frmNumCuentaCliente.get('numCuentaCliente').hasError('minlength') && !frmNumCuentaCliente.get('numCuentaCliente').hasError('pattern')">
          Longitud 11 n&uacute;meros.
        </div>
      </div>
       <button type="submit" [disabled]="!frmNumCuentaCliente.valid">submit</button>
    </div>
  </div>
  <div class="ef-row" *ngIf="displayDatosCliente">
    <div class="ef-customer-data-container">
      <div class="ef-question">¿Datos del cliente correctos?</div>
      <div class="ef-customer-data">
        <div><span class="ef-label">Cliente:</span> {{ customerData['nombre'] }}</div>
        <div><span class="ef-label">BUC:</span> {{ customerData['buc'] }}</div>
        <div><span class="ef-label">N&uacute;m. de cuenta:</span> {{ customerData['numCuenta'] }}</div>
      </div>
      <div class="ef-content-space-center">
        <button type="button" class="ef-btn ef-gray" (click)="consultarOtraCuenta()">Consultar otra cuenta</button>
        <button type="button" class="ef-btn ef-red" (click)="emitShowNextStep()">Continuar</button>
      </div>
    </div>
  </div>
  <div class="ef-row ef-error-container" *ngIf="displayError">
    <div class="ef-error">{{ error }}</div>
    <div class="ef-content-space-center">
      <button type="button" class="ef-btn ef-red ef-enabled" (click)="consultarOtraCuenta()">Consultar otra cuenta</button>
    </div>
  </div>

  <!-- <button type="button" (click)="test()" >Download PDF</button> -->
</form>
