
<app-get-bhf003-datos-personales-solicitante [customerData]="customerDatos" (showPersonalInformation)="goToJob($event)"              *ngIf="displayComponent_1"></app-get-bhf003-datos-personales-solicitante>
<app-get-bhf003-empleo-ocupacion             [customerData]="customerDatos" (showJob)="goToEconomicInformation($event)"              *ngIf="displayComponent_2"></app-get-bhf003-empleo-ocupacion>
<app-get-bhf003-informacion-economica        [customerData]="customerDatos" (showEconomicInformation)="goToHeritage($event)"         *ngIf="displayComponent_3"></app-get-bhf003-informacion-economica>
<app-get-bhf003-patrimonio                   [customerData]="customerDatos" (showHeritage)="goToPersonalReferences($event)"          *ngIf="displayComponent_4"></app-get-bhf003-patrimonio>
<app-get-bhf003-referecias-personales        [customerData]="customerDatos" (showPersonalReferences)="goToIndividualConsent($event)" *ngIf="displayComponent_5"></app-get-bhf003-referecias-personales>
<app-get-bhf003-consentimiento-individual    [customerData]="customerDatos" (showIndividualConsent)="goToOtherComponents($event)"    *ngIf="displayComponent_6"></app-get-bhf003-consentimiento-individual>


