<h3 class="ef-form-control-label">CONSENTIMIENTO INDIVIDUAL DE SEGURO DE VIDA (TITULAR)</h3>
<br>

<form novalidate [formGroup]="form_1" (ngSubmit)="submit_form_1()">
     
        <div class="ef-row ef-content-right">
                <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(0)">OMITIR</button>
        </div> 
        <h3 class="ef-form-control-label">Cuestionario m&eacute;dico</h3>         
        <div class="ef-row ef-content-left ef-two-columns" >
                <div>
                    <label for="peso" class="ef-form-control-label">Peso<span class="ef-asterisco"> *</span></label><br>
                    <input type="text" formControlName="peso" class="form-control ef-form-control" id="peso" maxlength="10">
                    <div *ngIf="form_1.get('peso').touched && form_1.get('peso').invalid" class="ef-input-alert">
                        <div *ngIf="form_1.get('peso').hasError('required')"> Este dato es requerido. </div>
                        <div *ngIf="form_1.get('peso').hasError('pattern')"> Dato inv&aacute;lido.</div>
                        <div *ngIf="!form_1.get('peso').hasError('pattern')"> Longitud 10 caracteres. </div>
                    </div>
                </div>
                <div>
                        <label for="estatura" class="ef-form-control-label">Estatura<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="estatura" class="form-control ef-form-control" id="estatura" maxlength="10">
                        <div *ngIf="form_1.get('estatura').touched && form_1.get('estatura').invalid" class="ef-input-alert">
                            <div *ngIf="form_1.get('estatura').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_1.get('estatura').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_1.get('estatura').hasError('pattern')"> Longitud 10 caracteres. </div>
                        </div>
                    </div>
              </div>

              <div class="ef-row">
              <table class="table table-bordered table-striped">  
                    <tbody>
                        <tr *ngFor="let disease of disease_option; let i = index">
                        <td> <label for="option{{disease.id}}" class="ef-form-control-label ef-adj-label">{{disease.label}}</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option{{disease.id}}" groupName="option{{disease.id}}"></app-radio-group>  </td>
                        <!--<td> <label for="peso" class="ef-form-control-label ef-adj-label">Cáncer o tumor de cualquier clase, SIDA, o se le ha dicho que es portador del Síndrome de Inmunodeficiencia Adquirida</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option2" groupName="option2"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">Parálisis, Ceguera o Sordera total</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option3" groupName="option3"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">Epilepsia o cualquier otra enfermedad neurológica</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option4" groupName="option4"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">En los últimos 5 años, ¿Ha consumido alcohol en exceso hasta la intoxicación, drogas sin prescripción médica?</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option5" groupName="option5"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">Padecimiento de las glándulas, diabetes</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option6" groupName="option6"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">Problemas relacionados con el corazón, aparato circulatorio, hipertensión arterial</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option7" groupName="option7"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">Alteraciones del sentido de las vista o el oído</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option8" groupName="option8"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">Enfermedades de los pulmones, hígado o páncreas</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option9" groupName="option9"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">Enfermedades de aparato digestivo o genitourinario, sistema músculo esquelético</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option10" groupName="option10"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">En los últimos 5 años ¿ha estado Ud. Internado en un hospital u otra institución de salud o de cualquier manera incapacitado para desempeñar sus actividades normales de trabajo?</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option11" groupName="option11"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">¿Viaja en aeronaves que no pertenecen a líneas comerciales de aviación?</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option12" groupName="option12"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">¿Ud. fuma?</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option13" groupName="option13"></app-radio-group>  </td>
                        <td> <label for="peso" class="ef-form-control-label ef-adj-label">¿Tiene Ud. Otros seguros de vida con Zurich Santander Seguros México, S.A.?</label></td>
                        <td> <app-radio-group [options]="confirmation_options"  formControlName="option14" groupName="option14"></app-radio-group>  </td>-->
                      </tr>
                    </tbody>
                  </table>
              </div>
       
              <div class="ef-row ef-content-right">
                    <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(0)">Regresar</button>
                    <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
                    <button type="submit" [disabled]="form_1.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_1.valid">Continuar</button>
             </div>

</form>            
<div class="ef-row">
        <p>form is valid: {{ form_1.valid ? 'true' : 'false' }}</p>
  
        <p>Value:</p>
        <pre>{{ form_1.value | json }}</pre>
</div>