
<h3 class="ef-form-control-label">INFORMACI&Oacute;N ECON&Oacute;MICA (DATOS EN PESOS)</h3> 

<app-substeps [stepsNumber]="3">
    <div content_substep_1 *ngTemplateOutlet="substep_1"> </div>
    <div content_substep_2 *ngTemplateOutlet="substep_2"> </div>
    <div content_substep_3 *ngTemplateOutlet="substep_3"> </div>
</app-substeps>
                       
<ng-template #substep_1>
   
    <form novalidate [formGroup]="form_1" (ngSubmit)="submit_form_1()">
        <div class="ef-row ef-content-left ef-four-columns">
            <div>
                <label for="primerEmpleo" class="ef-form-control-label">¿Cunenta con créditos? (Hipotecario, Tarjeta, automotriz)<span class="ef-asterisco"> *</span></label><br>
                <app-radio-group [options]="cuentaConCreditosOptions"  formControlName="cuenta_con_creditos" groupName="cuenta_con_creditos" (selectionChanged)="selectionChangedForCuentaCredito($event)"></app-radio-group>
            </div>
          </div>
          <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayInput_1">
            <app-editable-grid formControlName='antecedentes_credito' [config]="config_antecedentesCredito"></app-editable-grid>
        </div>
        <div class="ef-row ef-content-right" *ngIf="displayInput_1">
          <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="gotoHome()">Regresar</button>
          <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
          <button type="submit" [disabled]="form_1.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_1.valid">Continuar</button>
        </div>
      </form>
    
      <div class="ef-row">
        <p>form is valid: {{ form_1.valid ? 'true' : 'false' }}</p>
  
        <p>Value:</p>
        <pre>{{ form_1.value | json }}</pre>
      </div>
</ng-template>
  
<ng-template #substep_2> 
</ng-template> 
<ng-template #substep_3> 
</ng-template>        
