@import 'src/app/electronic-formats/global-styles';

$stepSize: 25px;

.ef-nav {
    margin: 0 auto 50px auto;

    table {
        width: 100%;
        tr {
            td.ef-step-container {
                .ef-step {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
        
                    .ef-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: $stepSize;
                        height: $stepSize;
                        font-size: get-fontPixels(normal);
                        color: get-color(primary-color-3);
                        background-color: get-color(primary-color-2);
                        border: 1px solid get-color(primary-color-3, .5);
                        border-radius: 50%;
                        transition: all .5s ease-in-out;
                    }
        
                    .ef-line {
                        width: calc(100% - #{$stepSize});
                        border: 1px solid get-color(primary-color-3, .5);
                        transition: all .5s ease-in-out;
                    }

                    &.ef-active {
                        .ef-icon {
                            color: get-color(primary-color-5) !important;
                            border-color: get-color(primary-color-5) !important;
                        }
                    }
        
                    &.ef-passed {
                        .ef-icon {
                            color: get-color(secondary-color-2);
                            border-color: get-color(secondary-color-2);
                        }
    
                        .ef-line {
                            border-color: get-color(secondary-color-2);
                        }
                    }
    
                    &.ef-disabled {
                        cursor: not-allowed;
                    }
                }
    
                &.ef-last {
                    width: $stepSize;
    
                    .ef-step {
                        .ef-line {
                            display: none;
                        }
                    }
                }
            }
        }
    } 

    /* Según el número de steps indicado, asigna el ancho del steps nav. */   
    &.stepsNumber-1 {
        width: 5%;
    }
    &.stepsNumber-2 {
        width: 10%;
    }
    &.stepsNumber-3 {
        width: 15%;
    }
    &.stepsNumber-4 {
        width: 20%;
    }
    &.stepsNumber-5 {
        width: 25%;
    }
    &.stepsNumber-6 {
        width: 30%;
    }
    &.stepsNumber-7 {
        width: 35%;
    }
    &.stepsNumber-8 {
        width: 40%;
    }
    &.stepsNumber-9 {
        width: 45%;
    }
    &.stepsNumber-10 {
        width: 50%;
    }
    
}

/* prueba para agregar ng-content dinámicamente, en algún momento. */
/*
.ef-content {
    display: none;
    border: 1px solid magenta;

    &.ef-show {
        display: block;
    }
}
*/
