<!-- Nav tabs -->
<div class="ef-nav stepsNumber-{{ stepsNumber }}">
  <table>
    <tr>
      <td class="ef-step-container" *ngFor="let step of steps; let stepIndex = index;" [class.ef-last]="step['number'] === stepsNumber">
        <div class="ef-step" [class.ef-active]="step['number'] === currentStep" [class.ef-passed]="steps[stepIndex]['passed'] === true" [class.ef-disabled]="steps[stepIndex]['enabled'] === false">
          <div class="ef-icon" (click)="showStep(step['number'], true)">{{ step['number'] }}</div>
          <div class="ef-line"></div>
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- Tab panes -->
<ng-content select="[content_substep_1]" *ngIf="currentStep === 1"></ng-content>
<ng-content select="[content_substep_2]" *ngIf="currentStep === 2"></ng-content>
<ng-content select="[content_substep_3]" *ngIf="currentStep === 3"></ng-content>
<ng-content select="[content_substep_4]" *ngIf="currentStep === 4"></ng-content>
<ng-content select="[content_substep_5]" *ngIf="currentStep === 5"></ng-content>
<ng-content select="[content_substep_6]" *ngIf="currentStep === 6"></ng-content>
<ng-content select="[content_substep_7]" *ngIf="currentStep === 7"></ng-content>
<ng-content select="[content_substep_8]" *ngIf="currentStep === 8"></ng-content>
<ng-content select="[content_substep_9]" *ngIf="currentStep === 9"></ng-content>
<ng-content select="[content_substep_10]" *ngIf="currentStep === 10"></ng-content>

<!-- Pruebas para hacerlo dinámico en algún momento. -->
<!-- <div *ngFor="let step of steps; let stepIndex = index;" class="ef-content" [class.ef-show]="steps[stepIndex]['number'] === currentStep">
    <ng-content (select)="[steps[stepIndex]['container']]"></ng-content>
</div> -->
