
<h3 class="ef-form-control-label">REFERENCIAS PERSONALES</h3> 

    <form novalidate [formGroup]="form_1" (ngSubmit)="submit_form_1()">
        <div class="ef-row ef-content-left ef-four-columns">
            <app-editable-grid formControlName='referencias_personales' [config]="config_referencias_personales"></app-editable-grid>
        </div>
        <div class="ef-row ef-content-right">
          <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="gotoHome()">Regresar</button>
          <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
          <button type="submit" [disabled]="form_1.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_1.valid">Continuar</button>
        </div>
      </form>
    
      <div class="ef-row">
        <p>form is valid: {{ form_1.valid ? 'true' : 'false' }}</p>
  
        <p>Value:</p>
        <pre>{{ form_1.value | json }}</pre>
      </div>
       
