/////////////////////////////////////////////////////////////////////
/*  Font sizes and colors pallete definition */

$root-font-size: 14px;

$font-sizes: (
    xsmall: 0.7858 * $root-font-size, // 11px aprox.
    small: 0.8572 * $root-font-size,  // 12px aprox.
    normal: 1 * $root-font-size,      // 14px.
    medium: 1.1429 * $root-font-size, // 16px aprox.
    big: 1.2858 * $root-font-size,    // 18px aprox.
    xbig: 1.4286 * $root-font-size,   // 20px aprox.
    xxbig: 1.5715 * $root-font-size   // 22px aprox.
);

@function get-fontPixels($font-size-name) {
    @return map-get($font-sizes, $font-size-name);
}

$color-palette: (
    primary-color-1: rgb(0, 0, 0),
    primary-color-2: rgb(255, 255, 255),
    primary-color-3: rgb(111, 119, 121),
    primary-color-4: rgb(204, 0, 0),
    primary-color-5: rgb(236, 0, 0),
    primary-color-6: rgb(155, 195, 211),
    primary-color-7: rgb(195, 222, 231),
    primary-color-8: rgb(222, 237, 242),
    secondary-color-1: rgb(255, 204, 51),
    secondary-color-2: rgb(99, 186, 104),
    secondary-color-3: rgb(158, 54, 103),
    secondary-color-4: rgb(51, 102, 255)
);

@function get-color($color-name, $alpha: 1) {
    @return rgba(map-get($color-palette, $color-name), $alpha);
}

/////////////////////////////////////////////////////////////////////
/* Custom containers */

.ef-gral-container {

    // En IE no funciona el grid. Esta sería la mejor solución.
    //display: grid;
    //grid-template-columns: 300px auto;
    //grid-gap: 30px;

    // Con flexbox si funciona en IE.
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: strech;
    margin-top: -25px; // Hack para parchar el mal template que dejaron los de DevHive y reducir el espacio entre el header y el formato.

    .ef-sidebar {
        width: 250px;
        min-height: 100vh;
        margin-top: -22px; // Hack para parchar el mal template que dejaron los de DevHive y hacer que el sidebar se pegue al header.
    }

    .ef-format-container {
        width: calc(100% - 250px);
        min-height: 100vh;
        padding: 0 30px 40px 30px;
    }
}

.ef-row {
    margin-bottom: 30px;
}

.ef-content-left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;
}

.ef-content-right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
}

.ef-content-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;
}

.ef-content-space-between {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
}

.ef-content-space-around {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
}

.ef-two-columns {
    & > div {
        width: 49%;
    }
}

.ef-three-columns {
    & > div {
        width: 33%;
    }
}

.ef-four-columns {
    & > div {
        width: 24%;
    }
}

.ef-margin-right {
    margin-right: 15px;
}

.ef-margin-left {
    margin-left: 15px;
}

/////////////////////////////////////////////////////////////////////
/* Buttons */

.ef-btn {
    min-width: 120px;
    height: 35px;
    font-size: get-fontPixels(small);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    outline: none;
    background-color: transparent;
    transition: all 0.5s ease-in-out;

    &.ef-gray {
        color: get-color(primary-color-3);
        border: 1px solid get-color(primary-color-3);

        &:hover {
            color: get-color(primary-color-2);
            background-color: get-color(primary-color-3);
        }
    }

    &.ef-red {
        color: get-color(primary-color-5);
        border: 1px solid get-color(primary-color-5);

        &.ef-enabled,
        &:hover {
            color: get-color(primary-color-2);
            background-color: get-color(primary-color-5);
        }
    }

    &[disabled]{
        color: get-color(primary-color-3);
        border: 1px solid get-color(primary-color-3);
        cursor: not-allowed;
    }
}

.ef-btn-add {
    position: relative;
    font-size: get-fontPixels(normal);
    font-weight: normal;
    color: get-color(primary-color-5);
    border: none;
    background-color: transparent;
    padding-right: 25px;
    outline: none;

    &:after {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        height: 20px;
        content: '+';
        font-size: get-fontPixels(xbig);
        line-height: get-fontPixels(xbig);
        color: get-color(primary-color-2);
        border-radius: 30px;
        background-color: get-color(primary-color-5);
    }

}

/////////////////////////////////////////////////////////////////////
/* Form Controls */

.ef-form-control {
    border-color: get-color(primary-color-3);;
    -moz-border-color: get-color(primary-color-3);;
    -webkit-border-color:get-color(primary-color-3);;
    border-radius: 2em;
    -moz-border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: get-fontPixels(small);
    font-weight: normal;
    color: get-color(primary-color-3);
    cursor: pointer;
    height: 30px;
}

.ef-label,
.ef-form-control-label {
    font-size: get-fontPixels(normal);
    font-weight: bold;
    color: get-color(primary-color-3);
}

.ef-form-control-label-title {
    font-size: get-fontPixels(normal);
    font-weight: bold;
    color: get-color(secondary-color-2);
}

.ef-input-alert {
    font-size: get-fontPixels(xsmall);
    color: get-color(primary-color-5);
}

.ef-alert {
    font-size: get-fontPixels(medium);
    color: get-color(primary-color-5);
}

.ef-asterisco {
    color: get-color(primary-color-5);
}

.ef-field-temp {
    margin-left: -17px;
    width: 104%;
}

/////////////////////////////////////////////////////////////////////
/* Header */

.ef-header {
    display: block;
    // position: fixed;
    // left: 0;
    width: 100%;
    background-color: get-color(primary-color-2);
}

.ef-header-spacer {
    height: 300px;
}

/////////////////////////////////////////////////////////////////////
