<div class="ef-steps-container ef-content-space-around">
  <div id="step-1" class="ef-step" [class.passed]="passedSteps[0]">
    <div class="ef-icon">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path
              d="M437,331c-27.9-27.9-61.1-48.5-97.3-61c38.8-26.7,64.3-71.4,64.3-122C404,66.4,337.6,0,256,0S108,66.4,108,148
           c0,50.5,25.5,95.3,64.3,122c-36.2,12.5-69.4,33.1-97.3,61C26.6,379.3,0,443.6,0,512h40c0-119.1,96.9-216,216-216s216,96.9,216,216
           h40C512,443.6,485.4,379.3,437,331z M256,256c-59.6,0-108-48.4-108-108S196.4,40,256,40s108,48.4,108,108S315.6,256,256,256z" />
          </g>
        </g>
      </svg>
    </div>
    <div class="ef-label">Datos cliente</div>
  </div>
  <div id="step-2" class="ef-step" [class.passed]="passedSteps[1]">
    <div class="ef-icon">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <path d="M107,370h142v40H107V370z M107,331h142v-40H107V331z M107,252h245v-40H107V252z M485,512h-40c0-40.3-32.7-73-73-73
       s-73,32.7-73,73h-40c0-42.1,23.1-78.9,57.3-98.3c-11.4-13-18.3-30.1-18.3-48.7c0-40.8,33.2-74,74-74s74,33.2,74,74
       c0,18.6-6.9,35.7-18.3,48.7C461.9,433.1,485,469.9,485,512z M372,399c18.7,0,34-15.3,34-34s-15.3-34-34-34s-34,15.3-34,34
       S353.3,399,372,399z M86,472h138.3c-3.5,12.8-5.3,26.2-5.3,40H86c-33.1,0-60-26.9-60-60V60C26,26.9,52.9,0,86,0h203.8l142.1,142.9
       v125.2c-12-7.5-25.5-12.8-39.9-15.3v-81.6h-71.1c-33.1,0-60-26.9-60-60V40H86c-11,0-20,9-20,20v392C66,463,75,472,86,472z
        M320.9,131.1h43l-63-63.2v43.2C300.9,122.1,309.9,131.1,320.9,131.1z" />
      </svg>
    </div>
    <div class="ef-label">Registro servicio</div>
  </div>
  <div id="step-3" class="ef-step" [class.passed]="passedSteps[2]">
    <div class="ef-icon">
      <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
        <g>
          <g>
            <path d="M251.3,196.7c-6.2-6.2-16.4-6.3-22.7,0L176,249.4l-20.7-20.7c-6.2-6.2-16.4-6.2-22.6,0s-6.2,16.4,0,22.6l32,32
           c3.1,3.1,7.2,4.7,11.3,4.7s8.2-1.6,11.3-4.7l64-64C257.6,213.1,257.6,202.9,251.3,196.7z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M251.3,324.7c-6.2-6.2-16.4-6.3-22.7,0L176,377.4l-20.7-20.7c-6.2-6.2-16.4-6.2-22.6,0s-6.2,16.4,0,22.6l32,32
           c3.1,3.1,7.2,4.7,11.3,4.7s8.2-1.6,11.3-4.7l64-64C257.6,341.1,257.6,330.9,251.3,324.7z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M368,224h-64c-8.8,0-16,7.2-16,16s7.2,16,16,16h64c8.8,0,16-7.2,16-16S376.8,224,368,224z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M368,352h-64c-8.8,0-16,7.2-16,16s7.2,16,16,16h64c8.8,0,16-7.2,16-16S376.8,352,368,352z" />
          </g>
        </g>
        <g>
          <g>
            <path d="M416,64h-64V48c0-8.8-7.2-16-16-16h-34.7C294.7,13.4,276.9,0,256,0s-38.7,13.4-45.3,32H176c-8.8,0-16,7.2-16,16v16H96
           c-17.6,0-32,14.4-32,32v384c0,17.6,14.4,32,32,32h320c17.6,0,32-14.4,32-32V96C448,78.4,433.6,64,416,64z M192,64h32
           c8.8,0,16-7.2,16-16s7.2-16,16-16s16,7.2,16,16s7.2,16,16,16h32v32H192V64z M416,480H96V96h64v16c0,8.8,7.2,16,16,16h160
           c8.8,0,16-7.2,16-16V96h64V480z" />
          </g>
        </g>
      </svg>
    </div>
    <div class="ef-label">Verificaci&oacute;n datos</div>
  </div>
</div>