@import 'src/app/electronic-formats/global-styles';

.ef-steps-container {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid get-color(primary-color-3);

    .ef-step {
        text-align: center;

        .ef-icon {

            svg {
                width: 40px;
                height: 40px;
                fill: get-color(primary-color-3);
                transition: all .5s ease-in-out;
            }
        }

        .ef-label {
            font-size: get-fontPixels(normal);
            color: get-color(primary-color-3);
        }

        &.passed .ef-icon {
            svg {
                fill: get-color(secondary-color-2);
            }
        }
    }
}


