@import 'src/app/electronic-formats/global-styles';

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
    border: 1px solid get-color(primary-color-3, 0.4);
} 

.table {
    font-size: get-fontPixels(normal);
    color: get-color(primary-color-3);

    caption {
        background-color: get-color(primary-color-3, 0.2);
        padding: 10px 25px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-top: 1px solid get-color(primary-color-3, 0.4);
        border-left: 1px solid get-color(primary-color-3, 0.4);
        border-right: 1px solid get-color(primary-color-3, 0.4);

        .ef-caption {
            font-size: get-fontPixels(medium);
            font-weight: bold;
            color: get-color(primary-color-3);
        }
    }
    
    .ef-header-label {
        font-size: get-fontPixels(small);
        font-weight: bold;
        color: get-color(primary-color-3);
    }
        
    .ef-icon {
        display: flex;
        align-items: center;
        cursor: pointer;

        &:not(:last-of-type){
            margin-right: 5px;
        }

        svg {
            width: 20px;
            height: 20px;
            fill: get-color(primary-color-3);
        }

        &:hover {
            svg {
                fill: get-color(secondary-color-2);
            }
        }
    }
}