<h3 class="ef-form-control-label">PATRIMONIO (PROPIEDAD DEL SOLICITANTE)</h3> 
<h2 class="ef-form-control-label">Selecciona la opci&oacute;n o las opciones, con las que cuentes.</h2>  


<h3 class="ef-form-control-label">Conceptos de importe <button type="button" class="ef-btn-add"></button></h3>
<br>
<table class="table table-bordered table-striped">  
    <tbody>
      <tr *ngFor="let checks of checks_imports_options; let i = index">
        <td>
            <label class="containerCheck"><input type="checkbox" id="opcion" #opcion [checked]="checks.check" style="cursor: pointer;" (change)="checkboxOptionImports(opcion.checked, checks, i)"> <span class="checkmark"></span> </label>
        </td>
        <td>{{ checks.label }}</td>
        <td>$ <input type="text" id="aux" [(ngModel)]="checks.import" class="form-control ef-form-control" *ngIf="checks.input"/> </td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <h3 class="ef-form-control-label">Conceptos de valor estimado <button type="button" class="ef-btn-add"></button></h3>
  <br>
  <table class="table table-bordered table-striped">  
    <tbody>
      <tr *ngFor="let checks of checks_valor_options; let i = index">
        <td>
            <label class="containerCheck"><input type="checkbox" id="opcion" #opcion [checked]="checks.check" style="cursor: pointer;" (change)="checkboxOptionValor(opcion.checked, checks, i)"> <span class="checkmark"></span> </label>
        </td>
        <td>{{ checks.label }}</td>
        <td>$ <input type="text" id="aux" [(ngModel)]="checks.import" class="form-control ef-form-control" *ngIf="checks.input"/> </td>
      </tr>
    </tbody>
  </table>

  <div class="ef-row ef-content-right">
    <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(0)">Regresar</button>
    <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
    <button type="button" [disabled]="countImports <= 0 && countValor <= 0" class="ef-btn ef-red" [class.ef-enabled]="countImports > 0 && countValor > 0" (click)="submit_form_1()">Continuar</button>
</div>