<br>

<h2 class="ef-form-control-label">DATOS PERSONALES DEL SOLICITANTE</h2> 

<app-substeps [stepsNumber]="4">
    <div content_substep_1 *ngTemplateOutlet="substep_1"> </div>
    <div content_substep_2 *ngTemplateOutlet="substep_2"> </div>
    <div content_substep_3 *ngTemplateOutlet="substep_3"> </div>
    <div content_substep_4 *ngTemplateOutlet="substep_4"> </div>
</app-substeps>
                       
<ng-template #substep_1>
        <h3 class="ef-form-control-label-title">Recuerda validar que los datos del cliente sean correctos</h3>
       
       <form novalidate [formGroup]="form_1" (ngSubmit)="submit_form_1()">

                <div class="ef-row ef-content-left ef-four-columns">
                    <div>
                        <label for="nombre" class="ef-form-control-label">Nombre(s)<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="nombre" class="form-control ef-form-control" id="nombre" maxlength="22">
                        <div *ngIf="form_1.get('nombre').touched && form_1.get('nombre').invalid" class="ef-input-alert">
                            <div *ngIf="form_1.get('nombre').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_1.get('nombre').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_1.get('nombre').hasError('pattern')"> Longitud 22 n&uacute;meros. </div>
                        </div>
                    </div>
                    <div>
                            <label for="apellido_paterno" class="ef-form-control-label">Apellido paterno<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="apellido_paterno" class="form-control ef-form-control" id="apellido_paterno" maxlength="22">
                            <div *ngIf="form_1.get('apellido_paterno').touched && form_1.get('apellido_paterno').invalid" class="ef-input-alert">
                                <div *ngIf="form_1.get('apellido_paterno').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_1.get('apellido_paterno').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                <div *ngIf="!form_1.get('apellido_paterno').hasError('pattern')"> Longitud 22 n&uacute;meros. </div>
                            </div>
                        </div>
                        <div>
                                <label for="apellido_materno" class="ef-form-control-label">Apellido materno<span class="ef-asterisco"> *</span></label><br>
                                <input type="text" formControlName="apellido_materno" class="form-control ef-form-control" id="apellido_materno" maxlength="22">
                                <div *ngIf="form_1.get('apellido_materno').touched && form_1.get('apellido_materno').invalid" class="ef-input-alert">
                                    <div *ngIf="form_1.get('apellido_materno').hasError('required')"> Este dato es requerido. </div>
                                    <div *ngIf="form_1.get('apellido_materno').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                    <div *ngIf="!form_1.get('apellido_materno').hasError('pattern')"> Longitud 22 n&uacute;meros. </div>
                                </div>
                        </div>
                </div> 
                <div class="ef-row ef-content-left ef-four-columns">
                        <div>
                            <label for="fechaNacimiento" class="ef-form-control-label">Fecha de nacimiento (dd/mm/aa)<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="fechaNacimiento" class="form-control ef-form-control" id="fechaNacimiento">
                            <div *ngIf="form_1.get('fechaNacimiento').touched && form_1.get('fechaNacimiento').invalid" class="ef-input-alert">
                                <div *ngIf="form_1.get('fechaNacimiento').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_1.get('fechaNacimiento').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            </div>
                        </div>
                        <div>
                            <label for="sexo" class="ef-form-control-label">Sexo<span class="ef-asterisco"> *</span></label><br>
                            <app-select formControlName="sexo" [options]="sexo_options"></app-select>
                            <div *ngIf="form_1.get('sexo').touched && form_1.get('sexo').invalid" class="ef-input-alert">
                            <div *ngIf="form_1.get('sexo').hasError('required')">Este dato es requerido. </div>
                            </div>
                        </div>
                        <div>
                             <label for="correo" class="ef-form-control-label">Correo electrónico<span class="ef-asterisco"> *</span></label><br>
                             <input type="text" formControlName="correo" class="form-control ef-form-control" id="correo">
                             <div *ngIf="form_1.get('correo').touched && form_1.get('correo').invalid" class="ef-input-alert">
                             <div *ngIf="form_1.get('correo').hasError('required')"> Este dato es requerido. </div>
                             <div *ngIf="form_1.get('correo').hasError('pattern')"> Dato inv&aacute;lido.</div>
                             </div>
                            </div>
                    </div>
                    <div class="ef-row ef-content-left ef-four-columns">
                        <div>
                            <label for="pais" class="ef-form-control-label">Pais de nacimiento<span class="ef-asterisco"> *</span></label><br>
                            <app-select formControlName="pais" [options]="pais_options"></app-select>
                            <div *ngIf="form_1.get('pais').touched && form_1.get('pais').invalid" class="ef-input-alert">
                            <div *ngIf="form_1.get('pais').hasError('required')">Este dato es requerido. </div>
                            </div>
                        </div>
                        <div>
                                <label for="entidad" class="ef-form-control-label">Entidad federativa<span class="ef-asterisco"> *</span></label><br>
                                <app-select formControlName="entidad" [options]="entidad_options"></app-select>
                                <div *ngIf="form_1.get('entidad').touched && form_1.get('entidad').invalid" class="ef-input-alert">
                                <div *ngIf="form_1.get('entidad').hasError('required')">Este dato es requerido. </div>
                                </div>
                            </div>
                            <div>
                                    <label for="nacionalidad" class="ef-form-control-label">Nacionalidad<span class="ef-asterisco"> *</span></label><br>
                                    <app-select formControlName="nacionalidad" [options]="nacionalidad_options"></app-select>
                                    <div *ngIf="form_1.get('nacionalidad').touched && form_1.get('nacionalidad').invalid" class="ef-input-alert">
                                    <div *ngIf="form_1.get('nacionalidad').hasError('required')">Este dato es requerido. </div>
                                    </div>
                                </div>
                    </div>
                    <div class="ef-row ef-content-right">
                            <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(0)">Regresar</button>
                            <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
                            <button type="submit" [disabled]="form_1.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_1.valid">Continuar</button>
                   </div>
        </form> 
        
    <!--<div class="ef-row">
                <p>form is valid: {{ form_1.valid ? 'true' : 'false' }}</p>
          
                <p>Value:</p>
                <pre>{{ form_1.value | json }}</pre>
        </div>-->

</ng-template>  

<ng-template #substep_2>
        <h3 class="ef-form-control-label-title">Recuerda validar que los datos del cliente sean correctos</h3>
<form novalidate [formGroup]="form_2" (ngSubmit)="submit_form_2()">
    
        <div class="ef-row ef-content-left ef-four-columns">
                <div>
                        <label for="identificacion" class="ef-form-control-label">Identificación<span class="ef-asterisco"> *</span></label><br>
                        <app-select formControlName="identificacion" [options]="identificacion_options"></app-select>
                        <div *ngIf="form_2.get('identificacion').touched && form_2.get('identificacion').invalid" class="ef-input-alert">
                        <div *ngIf="form_2.get('identificacion').hasError('required')">Este dato es requerido. </div>
                        </div>
                </div>
                <div>
                        <label for="numeroIdentificacion" class="ef-form-control-label">Número de Identificación<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="numeroIdentificacion" class="form-control ef-form-control" id="numeroIdentificacion" maxlength="13">
                        <div *ngIf="form_2.get('numeroIdentificacion').touched && form_2.get('numeroIdentificacion').invalid" class="ef-input-alert">
                            <div *ngIf="form_2.get('numeroIdentificacion').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_2.get('numeroIdentificacion').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_2.get('numeroIdentificacion').hasError('pattern')"> Longitud 13 n&uacute;meros. </div>
                        </div>
                    </div>
                    <div>
                            <label for="rfc" class="ef-form-control-label">R.F.C con homoclave<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="rfc" class="form-control ef-form-control" id="rfc" maxlength="13">
                            <div *ngIf="form_2.get('rfc').touched && form_2.get('rfc').invalid" class="ef-input-alert">
                                <div *ngIf="form_2.get('rfc').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_2.get('rfc').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                <div *ngIf="!form_2.get('rfc').hasError('pattern')"> Longitud 13 n&uacute;meros. </div>
                            </div>
                        </div>      
        </div>
        <div class="ef-row ef-content-left ef-four-columns">
                <div>
                        <label for="curp" class="ef-form-control-label">CURP<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="curp" class="form-control ef-form-control" id="curp" maxlength="18">
                        <div *ngIf="form_2.get('curp').touched && form_2.get('curp').invalid" class="ef-input-alert">
                            <div *ngIf="form_2.get('curp').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_2.get('curp').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_2.get('curp').hasError('pattern')"> Longitud 18 n&uacute;meros. </div>
                        </div>
                    </div>
                    <div>
                            <label for="numeroSeguro" class="ef-form-control-label">Número de seguridad social<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="numeroSeguro" class="form-control ef-form-control" id="numeroSeguro" maxlength="11">
                            <div *ngIf="form_2.get('numeroSeguro').touched && form_2.get('numeroSeguro').invalid" class="ef-input-alert">
                                <div *ngIf="form_2.get('numeroSeguro').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_2.get('numeroSeguro').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                <div *ngIf="!form_2.get('numeroSeguro').hasError('pattern')"> Longitud 11 n&uacute;meros. </div>
                            </div>
                        </div>        
        </div>
        <div class="ef-row ef-content-left ef-four-columns">
                <div>
                        <label for="escolaridad" class="ef-form-control-label">Escolaridad<span class="ef-asterisco"> *</span></label><br>
                        <app-select formControlName="escolaridad" [options]="escolaridad_options"></app-select>
                        <div *ngIf="form_2.get('escolaridad').touched && form_2.get('escolaridad').invalid" class="ef-input-alert">
                        <div *ngIf="form_2.get('escolaridad').hasError('required')">Este dato es requerido. </div>
                        </div>
                </div>
                    <div>
                            <label for="profesion" class="ef-form-control-label">Profesión u ocupación<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="profesion" class="form-control ef-form-control" id="profesion" maxlength="22">
                            <div *ngIf="form_2.get('profesion').touched && form_2.get('profesion').invalid" class="ef-input-alert">
                                <div *ngIf="form_2.get('profesion').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_2.get('profesion').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                <div *ngIf="!form_2.get('profesion').hasError('pattern')"> Longitud 22 n&uacute;meros. </div>
                            </div>
                        </div>        
        </div>
        <div class="ef-row ef-content-right">
                <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(1)">Regresar</button>
                <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
                <button type="submit" [disabled]="form_2.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_2.valid">Continuar</button>
       </div>
</form>                          
</ng-template>  

<ng-template #substep_3>
        <h3 class="ef-form-control-label-title">Recuerda validar que los datos del cliente sean correctos</h3> 
        <form novalidate [formGroup]="form_3" (ngSubmit)="submit_form_3()">

                <div class="ef-row ef-content-left ef-four-columns">
                    <div>
                        <label for="calle" class="ef-form-control-label">Calle<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="calle" class="form-control ef-form-control" id="calle" maxlength="22">
                        <div *ngIf="form_3.get('calle').touched && form_3.get('calle').invalid" class="ef-input-alert">
                            <div *ngIf="form_3.get('calle').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_3.get('calle').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_3.get('calle').hasError('pattern')"> Longitud 22 caracteres. </div>
                        </div>
                    </div>
               
                <div>
                        <label for="numeroExterior" class="ef-form-control-label">Número exterior<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="numeroExterior" class="form-control ef-form-control" id="numeroExterior" maxlength="4">
                        <div *ngIf="form_3.get('numeroExterior').touched && form_3.get('numeroExterior').invalid" class="ef-input-alert">
                            <div *ngIf="form_3.get('numeroExterior').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_3.get('numeroExterior').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_3.get('numeroExterior').hasError('pattern')"> Longitud 4 n&uacute;meros. </div>
                        </div>
                    </div>
                    <div>
                            <label for="numeroInterior" class="ef-form-control-label">Número interior<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="numeroInterior" class="form-control ef-form-control" id="numeroInterior" maxlength="4">
                            <div *ngIf="form_3.get('numeroInterior').touched && form_3.get('numeroInterior').invalid" class="ef-input-alert">
                                <div *ngIf="form_3.get('numeroInterior').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_3.get('numeroInterior').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                <div *ngIf="!form_3.get('numeroInterior').hasError('pattern')"> Longitud 4 n&uacute;meros. </div>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="ef-row ef-content-left ef-four-columns">
                        <div>
                                <label for="cp" class="ef-form-control-label">Código postal<span class="ef-asterisco"> *</span></label><br>
                                <input type="text" formControlName="cp" class="form-control ef-form-control" id="cp" maxlength="4">
                                <div *ngIf="form_3.get('cp').touched && form_3.get('cp').invalid" class="ef-input-alert">
                                    <div *ngIf="form_3.get('cp').hasError('required')"> Este dato es requerido. </div>
                                    <div *ngIf="form_3.get('cp').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                    <div *ngIf="!form_3.get('cp').hasError('pattern')"> Longitud 4 n&uacute;meros. </div>
                                </div>
                            </div>
                            <div>
                                    <label for="colonia" class="ef-form-control-label">Colonia<span class="ef-asterisco"> *</span></label><br>
                                    <app-select formControlName="colonia" [options]="colonia_options"></app-select>
                                    <div *ngIf="form_3.get('colonia').touched && form_3.get('colonia').invalid" class="ef-input-alert">
                                    <div *ngIf="form_3.get('colonia').hasError('required')">Este dato es requerido. </div>
                                    </div>
                            </div>
                        </div>
                                <div class="ef-row ef-content-left ef-four-columns">
                                        <div>
                                                <label for="estado" class="ef-form-control-label">Estado<span class="ef-asterisco"> *</span></label><br>
                                                <app-select formControlName="estado" [options]="entidad_options"></app-select>
                                                <div *ngIf="form_3.get('estado').touched && form_3.get('estado').invalid" class="ef-input-alert">
                                                <div *ngIf="form_3.get('estado').hasError('required')">Este dato es requerido. </div>
                                                </div>
                                        </div>
                                        <div>
                                                <label for="delegacion" class="ef-form-control-label">Delegación o municipio<span class="ef-asterisco"> *</span></label><br>
                                                <input type="text" formControlName="delegacion" class="form-control ef-form-control" id="delegacion" maxlength="22">
                                                <div *ngIf="form_3.get('delegacion').touched && form_3.get('delegacion').invalid" class="ef-input-alert">
                                                    <div *ngIf="form_3.get('delegacion').hasError('required')"> Este dato es requerido. </div>
                                                    <div *ngIf="form_3.get('delegacion').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                                    <div *ngIf="!form_3.get('delegacion').hasError('pattern')"> Longitud 22 caracteres. </div>
                                                </div>
                                            </div>
                                            <div>
                                                    <label for="paiss" class="ef-form-control-label">País<span class="ef-asterisco"> *</span></label><br>
                                                    <app-select formControlName="paiss" [options]="pais_options"></app-select>
                                                    <div *ngIf="form_3.get('paiss').touched && form_3.get('paiss').invalid" class="ef-input-alert">
                                                    <div *ngIf="form_3.get('paiss').hasError('required')">Este dato es requerido. </div>
                                                    </div>
                                            </div>
                                        </div> 
                                        <div class="ef-row ef-content-left ef-four-columns">
                                        <div>
                                                <label for="telCasa" class="ef-form-control-label">Datos de contacto (casa)<span class="ef-asterisco"> *</span></label><br>
                                                <input type="text" formControlName="telCasa" class="form-control ef-form-control" id="telCasa" maxlength="10">
                                                <div *ngIf="form_3.get('telCasa').touched && form_3.get('telCasa').invalid" class="ef-input-alert">
                                                    <div *ngIf="form_3.get('telCasa').hasError('required')"> Este dato es requerido. </div>
                                                    <div *ngIf="form_3.get('telCasa').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                                    <div *ngIf="!form_3.get('telCasa').hasError('pattern')"> Longitud 10 n&uacute;meros. </div>
                                                </div>
                                            </div>
                                        <div>
                                                <label for="telCelular" class="ef-form-control-label">Datos de contacto (celular)<span class="ef-asterisco"> *</span></label><br>
                                                <input type="text" formControlName="telCelular" class="form-control ef-form-control" id="telCelular" maxlength="10">
                                                <div *ngIf="form_3.get('telCelular').touched && form_3.get('telCelular').invalid" class="ef-input-alert">
                                                    <div *ngIf="form_3.get('telCelular').hasError('required')"> Este dato es requerido. </div>
                                                    <div *ngIf="form_3.get('telCelular').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                                    <div *ngIf="!form_3.get('telCelular').hasError('pattern')"> Longitud 10 n&uacute;meros. </div>
                                                </div>
                                            </div>
                                        </div>     
                                        <div class="ef-row ef-content-right">
                                                <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(2)">Regresar</button>
                                                <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
                                                <button type="submit" [disabled]="form_3.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_3.valid">Continuar</button>
                                       </div>
        </form>                          
</ng-template>  

<ng-template #substep_4>
        <h3 class="ef-form-control-label-title">Recuerda validar que los datos del cliente sean correctos</h3>
<form novalidate [formGroup]="form_4" (ngSubmit)="submit_form_4()">
    
        <div class="ef-row ef-content-left ef-four-columns">
                <div>
                        <label for="viveCasa" class="ef-form-control-label">Vive en casa<span class="ef-asterisco"> *</span></label><br>
                        <app-select formControlName="viveCasa" [options]="vive_casa_options" (selectionChanged)="selectionChangedForViveCasas($event)"></app-select>
                        <div *ngIf="form_4.get('viveCasa').touched && form_4.get('viveCasa').invalid" class="ef-input-alert">
                        <div *ngIf="form_4.get('viveCasa').hasError('required')">Este dato es requerido. </div>
                        </div>
                </div>
                <div *ngIf="displayInputs_1">
                        <label for="conHipoteca" class="ef-form-control-label">¿Con hipoteca?<span class="ef-asterisco"> *</span></label><br>
                        <app-radio-group [options]="confirmation_options"  formControlName="conHipoteca" groupName="conHipoteca"></app-radio-group>
                </div>
                <div *ngIf="displayInputs_1">
                        <label for="tiempoResidencia" class="ef-form-control-label">Tiempo residencia<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="tiempoResidencia" class="form-control ef-form-control" id="tiempoResidencia" maxlength="10">
                        <div *ngIf="form_4.get('tiempoResidencia').touched && form_4.get('tiempoResidencia').invalid" class="ef-input-alert">
                            <div *ngIf="form_4.get('tiempoResidencia').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_4.get('tiempoResidencia').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_4.get('tiempoResidencia').hasError('pattern')"> Longitud 10 n&uacute;meros. </div>
                        </div>
                    </div>
            </div>

            <div class="ef-row ef-content-left ef-four-columns">
                    <div>
                            <label for="estadoCivil" class="ef-form-control-label">Estado civil<span class="ef-asterisco"> *</span></label><br>
                            <app-select formControlName="estadoCivil" [options]="estado_civil_options" (selectionChanged)="selectionChangedForEstadoCivil($event)"></app-select>
                            <div *ngIf="form_4.get('estadoCivil').touched && form_4.get('estadoCivil').invalid" class="ef-input-alert">
                            <div *ngIf="form_4.get('estadoCivil').hasError('required')">Este dato es requerido. </div>
                            </div>
                    </div>
                    <div *ngIf="displayInputs_2">
                            <label for="pagaPension" class="ef-form-control-label">¿Paga pensión?<span class="ef-asterisco"> *</span></label><br>
                            <app-radio-group [options]="confirmation_options"  formControlName="pagaPension" groupName="pagaPension"></app-radio-group>
                    </div>
                    <div *ngIf="displayInputs_2">
                            <label for="importe" class="ef-form-control-label">Anote el importe<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="importe" class="form-control ef-form-control" id="importe" maxlength="10">
                            <div *ngIf="form_4.get('importe').touched && form_4.get('importe').invalid" class="ef-input-alert">
                                <div *ngIf="form_4.get('importe').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_4.get('importe').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                <div *ngIf="!form_4.get('importe').hasError('pattern')"> Longitud 10 n&uacute;meros. </div>
                            </div>
                        </div>
                </div>

                <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayInputs_2">
                        <div>
                                <label for="depenEconomicos" class="ef-form-control-label">Dependientes económicos<span class="ef-asterisco"> *</span></label><br>
                                <input type="text" formControlName="depenEconomicos" class="form-control ef-form-control" id="depenEconomicos" maxlength="2">
                                <div *ngIf="form_4.get('depenEconomicos').touched && form_4.get('depenEconomicos').invalid" class="ef-input-alert">
                                    <div *ngIf="form_4.get('depenEconomicos').hasError('required')"> Este dato es requerido. </div>
                                    <div *ngIf="form_4.get('depenEconomicos').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                    <div *ngIf="!form_4.get('depenEconomicos').hasError('pattern')"> Longitud 2 n&uacute;meros. </div>
                                </div>
                       </div>
                </div>
                <div class="ef-row ef-content-right">
                        <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(3)">Regresar</button>
                        <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
                        <button type="submit" [disabled]="form_4.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_4.valid">Continuar</button>
               </div>       
</form>                          
</ng-template>   