<h2 class="ef-form-control-label">EMPLEO U OCUPACIÓN</h2> 

<app-substeps [stepsNumber]="3">
    <div content_substep_1 *ngTemplateOutlet="substep_1"> </div>
    <div content_substep_2 *ngTemplateOutlet="substep_2"> </div>
    <div content_substep_3 *ngTemplateOutlet="substep_3"> </div>
</app-substeps>
                       
<ng-template #substep_1>
        <h3 class="ef-form-control-label-title">Recuerda validar que los datos del cliente sean correctos</h3> 
        
        <form novalidate [formGroup]="form_1" (ngSubmit)="submit_form_1()">

          <div class="ef-row ef-content-left ef-four-columns">
            <div>
                <label for="primerEmpleo" class="ef-form-control-label">¿Es tu primer empleo?<span class="ef-asterisco"> *</span></label><br>
                <app-radio-group [options]="confirmation_options"  formControlName="primerEmpleo" groupName="primerEmpleo" (selectionChanged)="selectionChangedForPrimerEmpledo($event)"></app-radio-group>
            </div>
          </div>

          <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayForm_1">
              <div>
                  <label for="nombreEmpresa" class="ef-form-control-label">Nombre de la empresa<span class="ef-asterisco"> *</span></label><br>
                  <input type="text" formControlName="nombreEmpresa" class="form-control ef-form-control" id="nombreEmpresa" maxlength="50">
                  <div *ngIf="form_1.get('nombreEmpresa').touched && form_1.get('nombreEmpresa').invalid" class="ef-input-alert">
                      <div *ngIf="form_1.get('nombreEmpresa').hasError('required')"> Este dato es requerido. </div>
                      <div *ngIf="form_1.get('nombreEmpresa').hasError('pattern')"> Dato inv&aacute;lido.</div>
                      <div *ngIf="!form_1.get('nombreEmpresa').hasError('pattern')"> Longitud 50 caracteres. </div>
                  </div>
              </div>
            </div>  
            <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayForm_1">
                <div>
                    <label for="calle" class="ef-form-control-label">Calle<span class="ef-asterisco"> *</span></label><br>
                    <input type="text" formControlName="calle" class="form-control ef-form-control" id="calle" maxlength="22">
                    <div *ngIf="form_1.get('calle').touched && form_1.get('calle').invalid" class="ef-input-alert">
                        <div *ngIf="form_1.get('calle').hasError('required')"> Este dato es requerido. </div>
                        <div *ngIf="form_1.get('calle').hasError('pattern')"> Dato inv&aacute;lido.</div>
                        <div *ngIf="!form_1.get('calle').hasError('pattern')"> Longitud 22 caracteres. </div>
                    </div>
                </div>
           
            <div>
                    <label for="numeroExterior" class="ef-form-control-label">Número exterior<span class="ef-asterisco"> *</span></label><br>
                    <input type="text" formControlName="numeroExterior" class="form-control ef-form-control" id="numeroExterior" maxlength="4">
                    <div *ngIf="form_1.get('numeroExterior').touched && form_1.get('numeroExterior').invalid" class="ef-input-alert">
                        <div *ngIf="form_1.get('numeroExterior').hasError('required')"> Este dato es requerido. </div>
                        <div *ngIf="form_1.get('numeroExterior').hasError('pattern')"> Dato inv&aacute;lido.</div>
                        <div *ngIf="!form_1.get('numeroExterior').hasError('pattern')"> Longitud 4 n&uacute;meros. </div>
                    </div>
                </div>
                <div>
                        <label for="numeroInterior" class="ef-form-control-label">Número interior<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="numeroInterior" class="form-control ef-form-control" id="numeroInterior" maxlength="4">
                        <div *ngIf="form_1.get('numeroInterior').touched && form_1.get('numeroInterior').invalid" class="ef-input-alert">
                            <div *ngIf="form_1.get('numeroInterior').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_1.get('numeroInterior').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_1.get('numeroInterior').hasError('pattern')"> Longitud 4 n&uacute;meros. </div>
                        </div>
                    </div>
                </div> 
                
                <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayForm_1">
                    <div>
                            <label for="cp" class="ef-form-control-label">Código postal<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="cp" class="form-control ef-form-control" id="cp" maxlength="4">
                            <div *ngIf="form_1.get('cp').touched && form_1.get('cp').invalid" class="ef-input-alert">
                                <div *ngIf="form_1.get('cp').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_1.get('cp').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                <div *ngIf="!form_1.get('cp').hasError('pattern')"> Longitud 4 n&uacute;meros. </div>
                            </div>
                        </div>
                        <div>
                                <label for="colonia" class="ef-form-control-label">Colonia<span class="ef-asterisco"> *</span></label><br>
                                <app-select formControlName="colonia" [options]="colonia_options"></app-select>
                                <div *ngIf="form_1.get('colonia').touched && form_1.get('colonia').invalid" class="ef-input-alert">
                                <div *ngIf="form_1.get('colonia').hasError('required')">Este dato es requerido. </div>
                                </div>
                        </div>
                    </div>
                            <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayForm_1">
                                    <div>
                                            <label for="estado" class="ef-form-control-label">Estado<span class="ef-asterisco"> *</span></label><br>
                                            <app-select formControlName="estado" [options]="entidad_options"></app-select>
                                            <div *ngIf="form_1.get('estado').touched && form_1.get('estado').invalid" class="ef-input-alert">
                                            <div *ngIf="form_1.get('estado').hasError('required')">Este dato es requerido. </div>
                                            </div>
                                    </div>
                                    <div>
                                            <label for="delegacion" class="ef-form-control-label">Delegación o municipio<span class="ef-asterisco"> *</span></label><br>
                                            <input type="text" formControlName="delegacion" class="form-control ef-form-control" id="delegacion" maxlength="22">
                                            <div *ngIf="form_1.get('delegacion').touched && form_1.get('delegacion').invalid" class="ef-input-alert">
                                                <div *ngIf="form_1.get('delegacion').hasError('required')"> Este dato es requerido. </div>
                                                <div *ngIf="form_1.get('delegacion').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                                <div *ngIf="!form_1.get('delegacion').hasError('pattern')"> Longitud 22 caracteres. </div>
                                            </div>
                                        </div>
                                        <div>
                                                <label for="paiss" class="ef-form-control-label">País<span class="ef-asterisco"> *</span></label><br>
                                                <app-select formControlName="paiss" [options]="pais_options"></app-select>
                                                <div *ngIf="form_1.get('paiss').touched && form_1.get('paiss').invalid" class="ef-input-alert">
                                                <div *ngIf="form_1.get('paiss').hasError('required')">Este dato es requerido. </div>
                                                </div>
                                        </div>
                                    </div> 
                                        
                                    <div class="ef-row ef-content-right" *ngIf="displayForm_1">
                                            <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(0)">Regresar</button>
                                            <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
                                            <button type="submit" [disabled]="form_1.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_1.valid">Continuar</button>
                                   </div>
    </form>                      
</ng-template>

<ng-template #substep_2>

    <form novalidate [formGroup]="form_2" (ngSubmit)="submit_form_2()">

      <div class="ef-row ef-content-left ef-four-columns">
        <div>
            <label for="tipoIngreso" class="ef-form-control-label">¿Tipo de ingreso?<span class="ef-asterisco"> *</span></label><br>
                <app-select formControlName="tipoIngreso" [options]="tipo_ingreso_options" (selectionChanged)="selectionChangedForTipoIngreso($event)"></app-select>
                <div *ngIf="form_2.get('tipoIngreso').touched && form_2.get('tipoIngreso').invalid" class="ef-input-alert">
                <div *ngIf="form_2.get('tipoIngreso').hasError('required')">Este dato es requerido. </div>
                </div>
        </div>
        <div *ngIf="displayForm_2">
                <label for="tipoContrato" class="ef-form-control-label">¿Tipo de contrato?<span class="ef-asterisco"> *</span></label><br>
                <app-select formControlName="tipoContrato" [options]="tipo_contrato_options" (selectionChanged)="selectionChangedForTipoContacto($event)"></app-select>
                <div *ngIf="form_2.get('tipoContrato').touched && form_2.get('tipoContrato').invalid" class="ef-input-alert">
                <div *ngIf="form_2.get('tipoContrato').hasError('required')">Este dato es requerido. </div>
                </div>
        </div>
        <div *ngIf="displayIpunt_1">
            <label for="descripcionContrato" class="ef-form-control-label"><span class="ef-asterisco"></span></label><br>
            <input type="text" formControlName="descripcionContrato" class="form-control ef-form-control" id="descripcionContrato" maxlength="50">
            <div *ngIf="form_2.get('descripcionContrato').touched && form_2.get('descripcionContrato').invalid" class="ef-input-alert">
                <div *ngIf="form_2.get('descripcionContrato').hasError('required')"> Este dato es requerido. </div>
                <div *ngIf="form_2.get('descripcionContrato').hasError('pattern')"> Dato inv&aacute;lido.</div>
                <div *ngIf="!form_2.get('descripcionContrato').hasError('pattern')"> Longitud 50 caracteres. </div>
            </div>
        </div>
      </div>
      <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayForm_2">
            <h6 class="ef-form-control-label">Anotar sus INGRESOS NETOS MENSUALES, obtenidos como resultado de restar los diferentes conceptos de retención, como son: Impuesto Sobre la Renta (ISR), Impuesto al Valor Agregado (IVA), Cuotas del seguro social, Préstamos con la empresa y Descuentos por pensión alimenticia.</h6>
      </div>
      <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayForm_2">
          <div>
              <label for="sueldo" class="ef-form-control-label">Sueldo y/o Honorarios:<span class="ef-asterisco"> *</span></label><br>
              <input type="text" formControlName="sueldo" class="form-control ef-form-control" id="sueldo">
              <div *ngIf="form_2.get('sueldo').touched && form_2.get('sueldo').invalid" class="ef-input-alert">
                  <div *ngIf="form_2.get('sueldo').hasError('required')"> Este dato es requerido. </div>
                  <div *ngIf="form_2.get('sueldo').hasError('pattern')"> Dato inv&aacute;lido.</div>
              </div>
          </div>
          <div>
              <label for="bono" class="ef-form-control-label">Bonos y/o Vales:<span class="ef-asterisco"> *</span></label><br>
              <input type="text" formControlName="bono" class="form-control ef-form-control" id="bono">
              <div *ngIf="form_2.get('bono').touched && form_2.get('bono').invalid" class="ef-input-alert">
                  <div *ngIf="form_2.get('bono').hasError('required')"> Este dato es requerido. </div>
                  <div *ngIf="form_2.get('bono').hasError('pattern')"> Dato inv&aacute;lido.</div>
              </div>
          </div>
          <div>
              <label for="comision" class="ef-form-control-label">Comisiones:<span class="ef-asterisco"> *</span></label><br>
              <input type="text" formControlName="comision" class="form-control ef-form-control" id="comision">
              <div *ngIf="form_2.get('comision').touched && form_2.get('comision').invalid" class="ef-input-alert">
                  <div *ngIf="form_2.get('comision').hasError('required')"> Este dato es requerido. </div>
                  <div *ngIf="form_2.get('comision').hasError('pattern')"> Dato inv&aacute;lido.</div>
                  <div *ngIf="!form_2.get('comision').hasError('pattern')"> Longitud 4 n&uacute;meros. </div>
              </div>
          </div>
      </div>
      <div class="ef-row ef-content-right" *ngIf="displayForm_2 && !displayForm_3">
          <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(1)">Regresar</button>
          <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
          <button type="submit" [disabled]="form_2.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_2.valid">Continuar</button>
      </div>
  </form> 
  
  <form novalidate [formGroup]="form_3" (ngSubmit)="submit_form_3()" *ngIf="displayForm_3">
        <div class="ef-row ef-content-left ef-four-columns">
                <div>
                    <label for="giro" class="ef-form-control-label">Giro de la empresa (especificar)<span class="ef-asterisco"> *</span></label><br>
                    <input type="text" formControlName="giro" class="form-control ef-form-control" id="giro" maxlength="50">
                    <div *ngIf="form_3.get('giro').touched && form_3.get('giro').invalid" class="ef-input-alert">
                        <div *ngIf="form_3.get('giro').hasError('required')"> Este dato es requerido. </div>
                        <div *ngIf="form_3.get('giro').hasError('pattern')"> Dato inv&aacute;lido.</div>
                        <div *ngIf="!form_3.get('giro').hasError('pattern')"> Longitud 50 caracteres. </div>
                    </div>
                </div>
                <div>
                        <label for="departamento" class="ef-form-control-label">Departamento<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="departamento" class="form-control ef-form-control" id="departamento" maxlength="50">
                        <div *ngIf="form_3.get('departamento').touched && form_3.get('departamento').invalid" class="ef-input-alert">
                            <div *ngIf="form_3.get('departamento').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_3.get('departamento').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_3.get('departamento').hasError('pattern')"> Longitud 50 caracteres. </div>
                        </div>
                    </div>
                    <div>
                            <label for="puesto" class="ef-form-control-label">Puesto (especificar)<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="puesto" class="form-control ef-form-control" id="puesto" maxlength="50">
                            <div *ngIf="form_3.get('puesto').touched && form_3.get('puesto').invalid" class="ef-input-alert">
                                <div *ngIf="form_3.get('puesto').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_3.get('puesto').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                <div *ngIf="!form_3.get('puesto').hasError('pattern')"> Longitud 50 caracteres. </div>
                            </div>
                        </div>
        </div>

        <div class="ef-row ef-content-left ef-four-columns">
                <div>
                    <label for="fecha" class="ef-form-control-label">Fecha de ingreso<span class="ef-asterisco"> *</span></label><br>
                    <input type="text" formControlName="fecha" class="form-control ef-form-control" id="fecha">
                    <div *ngIf="form_3.get('fecha').touched && form_3.get('fecha').invalid" class="ef-input-alert">
                        <div *ngIf="form_3.get('fecha').hasError('required')"> Este dato es requerido. </div>
                        <div *ngIf="form_3.get('fecha').hasError('pattern')"> Dato inv&aacute;lido.</div>
                    </div>
                </div>
                <div>
                        <label for="antiguedadAno" class="ef-form-control-label">Antigüedad Año<span class="ef-asterisco"> *</span></label><br>
                        <input type="text" formControlName="antiguedadAno" class="form-control ef-form-control" id="antiguedadAno" maxlength="10">
                        <div *ngIf="form_3.get('antiguedadAno').touched && form_3.get('antiguedadAno').invalid" class="ef-input-alert">
                            <div *ngIf="form_3.get('antiguedadAno').hasError('required')"> Este dato es requerido. </div>
                            <div *ngIf="form_3.get('antiguedadAno').hasError('pattern')"> Dato inv&aacute;lido.</div>
                            <div *ngIf="!form_3.get('antiguedadAno').hasError('pattern')"> Longitud 10 caracteres. </div>
                        </div>
                    </div>
                    <div>
                            <label for="antiguedadMes" class="ef-form-control-label">Antigüedad mes<span class="ef-asterisco"> *</span></label><br>
                            <input type="text" formControlName="antiguedadMes" class="form-control ef-form-control" id="antiguedadMes" maxlength="10">
                            <div *ngIf="form_3.get('antiguedadMes').touched && form_3.get('antiguedadMes').invalid" class="ef-input-alert">
                                <div *ngIf="form_3.get('antiguedadMes').hasError('required')"> Este dato es requerido. </div>
                                <div *ngIf="form_3.get('antiguedadMes').hasError('pattern')"> Dato inv&aacute;lido.</div>
                                <div *ngIf="!form_3.get('antiguedadMes').hasError('pattern')"> Longitud 10 caracteres. </div>
                            </div>
                        </div>
        </div>
        <div class="ef-row ef-content-left ef-four-columns">     
        <div>
                <label for="telefonoOficina" class="ef-form-control-label">Teléfono oficina (LADA)<span class="ef-asterisco"> *</span></label><br>
                <input type="text" formControlName="telefonoOficina" class="form-control ef-form-control" id="telefonoOficina" maxlength="10">
                <div *ngIf="form_3.get('telefonoOficina').touched && form_3.get('telefonoOficina').invalid" class="ef-input-alert">
                    <div *ngIf="form_3.get('telefonoOficina').hasError('required')"> Este dato es requerido. </div>
                    <div *ngIf="form_3.get('telefonoOficina').hasError('pattern')"> Dato inv&aacute;lido.</div>
                    <div *ngIf="!form_3.get('telefonoOficina').hasError('pattern')"> Longitud 10 n&uacute;meros. </div>
                </div>
            </div>
        </div> 
              <div class="ef-row ef-content-right">
                  <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(2)">Regresar</button>
                  <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
                  <button type="submit" [disabled]="form_3.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_3.valid">Continuar</button>
              </div>
          </form>
</ng-template>      

<ng-template #substep_3>

<form novalidate [formGroup]="form_4" (ngSubmit)="submit_form_4()">

  <div class="ef-row ef-content-left ef-four-columns">
    <div>
        <label for="sectorLaboral" class="ef-form-control-label">Sector laboral<span class="ef-asterisco"> *</span></label><br>
            <app-select formControlName="sectorLaboral" [options]="sector_laboral_options" (selectionChanged)="selectionChangedForSectorLaboral($event)"></app-select>
            <div *ngIf="form_4.get('sectorLaboral').touched && form_4.get('sectorLaboral').invalid" class="ef-input-alert">
            <div *ngIf="form_4.get('sectorLaboral').hasError('required')">Este dato es requerido. </div>
            </div>
    </div>
</div>
<div class="ef-row ef-content-left ef-four-columns" *ngIf="displayIpunt_2">
<div>
        <label for="funcionesActividades" class="ef-form-control-label">Describa las funciones y actividades que realiza:<span class="ef-asterisco"> *</span></label><br>
        <input type="text" formControlName="funcionesActividades" class="form-control ef-form-control" id="funcionesActividades" maxlength="50">
        <div *ngIf="form_4.get('funcionesActividades').touched && form_4.get('funcionesActividades').invalid" class="ef-input-alert">
            <div *ngIf="form_4.get('funcionesActividades').hasError('required')"> Este dato es requerido. </div>
            <div *ngIf="form_4.get('funcionesActividades').hasError('pattern')"> Dato inv&aacute;lido.</div>
            <div *ngIf="!form_4.get('funcionesActividades').hasError('pattern')"> Longitud 50 caracteres. </div>
        </div>
</div>
</div>
<div class="ef-row ef-content-left ef-four-columns" *ngIf="displayIpunt_2">
        <h6 class="ef-form-control-label">Empleo anterior (sólo en caso de tener menos de dos años en el empleo u ocupación actual)</h6>
  </div>
  <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayIpunt_2">
      <div>
          <label for="nombreEmpresa" class="ef-form-control-label">Nombre de la empresa<span class="ef-asterisco"> *</span></label><br>
          <input type="text" formControlName="nombreEmpresa" class="form-control ef-form-control" id="nombreEmpresa">
          <div *ngIf="form_4.get('nombreEmpresa').touched && form_4.get('nombreEmpresa').invalid" class="ef-input-alert">
                <div *ngIf="form_4.get('nombreEmpresa').hasError('required')"> Este dato es requerido. </div>
                <div *ngIf="form_4.get('nombreEmpresa').hasError('pattern')"> Dato inv&aacute;lido.</div>
                <div *ngIf="!form_4.get('nombreEmpresa').hasError('pattern')"> Longitud 50 caracteres. </div>
            </div>
      </div>
      <div>
          <label for="causaSeparacion" class="ef-form-control-label">Causa de la separación<span class="ef-asterisco"> *</span></label><br>
          <input type="text" formControlName="causaSeparacion" class="form-control ef-form-control" id="causaSeparacion">
          <div *ngIf="form_4.get('causaSeparacion').touched && form_4.get('causaSeparacion').invalid" class="ef-input-alert">
                <div *ngIf="form_4.get('causaSeparacion').hasError('required')"> Este dato es requerido. </div>
                <div *ngIf="form_4.get('causaSeparacion').hasError('pattern')"> Dato inv&aacute;lido.</div>
                <div *ngIf="!form_4.get('causaSeparacion').hasError('pattern')"> Longitud 50 caracteres. </div>
            </div>
      </div>
      <div>
          <label for="fechaIngreso" class="ef-form-control-label">Fecha de ingreso<span class="ef-asterisco"> *</span></label><br>
          <input type="text" formControlName="fechaIngreso" class="form-control ef-form-control" id="fechaIngreso">
          <div *ngIf="form_4.get('fechaIngreso').touched && form_4.get('fechaIngreso').invalid" class="ef-input-alert">
                <div *ngIf="form_4.get('fechaIngreso').hasError('required')"> Este dato es requerido. </div>
            </div>
      </div>
  </div>
  <div class="ef-row ef-content-left ef-four-columns" *ngIf="displayIpunt_2">
        <div>
            <label for="fechaBaja" class="ef-form-control-label">Fecha de baja<span class="ef-asterisco"> *</span></label><br>
            <input type="text" formControlName="fechaBaja" class="form-control ef-form-control" id="fechaBaja">
            <div *ngIf="form_4.get('fechaBaja').touched && form_4.get('fechaBaja').invalid" class="ef-input-alert">
                <div *ngIf="form_4.get('fechaBaja').hasError('required')"> Este dato es requerido. </div>
                <div *ngIf="form_4.get('fechaBaja').hasError('pattern')"> Dato inv&aacute;lido.</div>
            </div>
        </div>
        <div>
                <label for="antiguedadAno" class="ef-form-control-label">Antigüedad Año<span class="ef-asterisco"> *</span></label><br>
                <input type="text" formControlName="antiguedadAno" class="form-control ef-form-control" id="antiguedadAno" maxlength="10">
                <div *ngIf="form_4.get('antiguedadAno').touched && form_4.get('antiguedadAno').invalid" class="ef-input-alert">
                    <div *ngIf="form_4.get('antiguedadAno').hasError('required')"> Este dato es requerido. </div>
                    <div *ngIf="form_4.get('antiguedadAno').hasError('pattern')"> Dato inv&aacute;lido.</div>
                    <div *ngIf="!form_4.get('antiguedadAno').hasError('pattern')"> Longitud 10 caracteres. </div>
                </div>
            </div>
            <div>
                    <label for="antiguedadMes" class="ef-form-control-label">Antigüedad mes<span class="ef-asterisco"> *</span></label><br>
                    <input type="text" formControlName="antiguedadMes" class="form-control ef-form-control" id="antiguedadMes" maxlength="10">
                    <div *ngIf="form_4.get('antiguedadMes').touched && form_4.get('antiguedadMes').invalid" class="ef-input-alert">
                        <div *ngIf="form_4.get('antiguedadMes').hasError('required')"> Este dato es requerido. </div>
                        <div *ngIf="form_4.get('antiguedadMes').hasError('pattern')"> Dato inv&aacute;lido.</div>
                        <div *ngIf="!form_4.get('antiguedadMes').hasError('pattern')"> Longitud 10 caracteres. </div>
                    </div>
                </div>
</div>
  <div class="ef-row ef-content-right" *ngIf="displayIpunt_2">
        <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="goToStep(2)">Regresar</button>
        <button type="button" class="ef-btn ef-gray ef-margin-right" (click)="cancelFormat()">Cancelar</button>
        <button type="submit" [disabled]="form_4.invalid" class="ef-btn ef-red" [class.ef-enabled]="form_4.valid">Continuar</button>
    </div>    
</form>                         
</ng-template>    