<table class="table table-bordered table-striped" (mouseenter)="onTouched()">
  <caption>
    <div class="ef-content-space-between">
      <div class="ef-caption">{{ config['title'] }}</div>
      <div><button type="button" class="ef-btn-add" (click)="addRecord()">Agregar informaci&oacute;n</button></div>
    </div>
  </caption>
  <thead>
    <tr>
      <th scope="col" class="ef-header-label" *ngFor="let field of config['fields']">{{ field['label'] }}</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records; let recordIndex=index">
      <td *ngFor="let field of config['fields']" [ngSwitch]="field['type']">
        <label for="aux"></label>
        <div *ngSwitchCase="'input'">
          <input type="text" id="aux" [(ngModel)]="records[recordIndex][field['name']]" class="form-control ef-form-control" (input)="onChange(records)"/>
          <!-- <input type="text" id="num_cheque" class="form-control ef-form-control" [(ngModel)]="numChequeValue" #numCheque="ngModel" name="numCheque" required minlength="7" maxlength="7" pattern="^[0-9]*$" /> -->
        </div>
        <div *ngSwitchCase="'select'">
          <app-select id="aux" [options]="field['options']" [(ngModel)]="records[recordIndex][field['name']]"></app-select>
        </div>
        <div *ngSwitchCase="'checkbox'">
          <input type="checkbox" id="aux" [(ngModel)]="records[recordIndex][field['name']]" name="field['name']" value="field['name']">&nbsp;{{ field['label'] }}
        </div>
      </td>
      <td>
        <div class="ef-content-space-around">
          <div class="ef-icon" (click)="deleteRecord(recordIndex)">

            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
              x="0px" y="0px" viewBox="0 0 438.5 438.5" style="enable-background:new 0 0 438.5 438.5;"
              xml:space="preserve">
              <g>
                <g>
                  <path d="M417.7,75.7c-1.7-1.7-3.9-2.6-6.6-2.6h-88.2l-20-47.7c-2.9-7-8-13-15.4-18C280.1,2.5,272.6,0,264.9,0h-91.4
                 C166,0,158.5,2.5,151,7.4c-7.4,4.9-12.6,10.9-15.4,18l-20,47.7H27.4c-2.7,0-4.9,0.9-6.6,2.6c-1.7,1.7-2.6,3.9-2.6,6.6v18.3
                 c0,2.7,0.9,4.9,2.6,6.6c1.7,1.7,3.9,2.6,6.6,2.6h27.4v271.8c0,15.8,4.5,29.3,13.4,40.4c8.9,11.1,19.7,16.7,32.3,16.7H338
                 c12.6,0,23.3-5.8,32.3-17.3c8.9-11.5,13.4-25.2,13.4-41V109.6h27.4c2.7,0,4.9-0.9,6.6-2.6c1.7-1.7,2.6-3.9,2.6-6.6V82.2
                 C420.3,79.6,419.4,77.4,417.7,75.7z M169.3,39.7c1.3-1.7,2.9-2.8,4.9-3.1h90.5c1.9,0.4,3.5,1.4,4.9,3.1l13.7,33.4H155.3
                 L169.3,39.7z M347.2,380.3c0,4.2-0.7,8-2,11.6c-1.3,3.5-2.7,6.1-4.1,7.7c-1.4,1.6-2.4,2.4-3,2.4H100.5c-0.6,0-1.6-0.8-3-2.4
                 c-1.4-1.6-2.8-4.2-4.1-7.7c-1.3-3.5-2-7.4-2-11.6V109.6h255.8L347.2,380.3L347.2,380.3z" />
                  <path
                    d="M137,347.2h18.3c2.7,0,4.9-0.9,6.6-2.6c1.7-1.7,2.6-3.9,2.6-6.6V173.6c0-2.7-0.9-4.9-2.6-6.6c-1.7-1.7-3.9-2.6-6.6-2.6
                 H137c-2.7,0-4.9,0.9-6.6,2.6c-1.7,1.7-2.6,3.9-2.6,6.6V338c0,2.7,0.9,4.9,2.6,6.6C132.2,346.3,134.4,347.2,137,347.2z" />
                  <path
                    d="M210.1,347.2h18.3c2.7,0,4.9-0.9,6.6-2.6c1.7-1.7,2.6-3.9,2.6-6.6V173.6c0-2.7-0.9-4.9-2.6-6.6c-1.7-1.7-3.9-2.6-6.6-2.6
                 h-18.3c-2.7,0-4.9,0.9-6.6,2.6c-1.7,1.7-2.6,3.9-2.6,6.6V338c0,2.7,0.9,4.9,2.6,6.6C205.3,346.3,207.5,347.2,210.1,347.2z" />
                  <path
                    d="M283.2,347.2h18.3c2.7,0,4.9-0.9,6.6-2.6c1.7-1.7,2.6-3.9,2.6-6.6V173.6c0-2.7-0.9-4.9-2.6-6.6c-1.7-1.7-3.9-2.6-6.6-2.6
                 h-18.3c-2.7,0-4.9,0.9-6.6,2.6c-1.7,1.7-2.6,3.9-2.6,6.6V338c0,2.7,0.9,4.9,2.6,6.6C278.4,346.3,280.5,347.2,283.2,347.2z" />
                </g>
              </g>
            </svg>

          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
