<div class="ef-sidebar">
    <div class="ef-customer-data" *ngIf="customerData['buc'] != undefined">
        <div class="ef-data-row">
            <div class="ef-label">Cliente</div>
            <div class="ef-data">{{ customerData['nombre'] }}</div>
        </div>
        <div class="ef-data-row">
            <div class="ef-label">N&uacute;m. de cuenta</div>
            <div class="ef-data">{{ customerData['numCuenta'] }}</div>
        </div>
        <div class="ef-data-row">
            <div class="ef-label">Buc del cliente</div>
            <div class="ef-data">{{ customerData['buc'] }}</div>
        </div>
    </div>
    <div class="ef-separator"></div>
</div>