@import 'src/app/electronic-formats/global-styles';

.ef-sidebar {
    width: 100%;
    height: 100%;
    background-color: get-color(primary-color-3);
    color: get-color(primary-color-2);

    .ef-customer-data {
        padding: 30px 20px;

        .ef-data-row {
            margin-bottom: 20px;

            .ef-label {
                font-size: get-fontPixels(normal);
                text-transform: uppercase;
                color: get-color(primary-color-2);
            }
        
            .ef-data {
                font-size: get-fontPixels(small);
                padding-left: 20px;
            }
        }
    }

    .ef-separator{
        border: .5px solid get-color(primary-color-2, .3);
    }

}
