<div class="ef-gral-container">
  <app-ef-sidebar [customerData]="customerData" class="ef-sidebar"></app-ef-sidebar>
  <div class="ef-format-container">
    <div class="ef-header">
      <div class="ef-row">
        <app-steps></app-steps>
      </div>
      <div class="ef-row">
        <app-format-title title="Hipotecarios" subtitle="BHF-003 - Solicitud de cr&eacute;dito bancario"></app-format-title>
      </div>
    </div>
   
   
 
  <form novalidate [formGroup]="form_1" (ngSubmit)="submit_form_1()" *ngIf="!displayStep_2">
    <div class="ef-row fe-es-cliente">
      <h3 class="ef-form-control-label">&#191;Es cliente Santander (M&eacute;xico)?</h3>
      <app-radio-group [options]="esClienteOptions"           (selectionChanged)="selectionChangedForEsCliente($event)" formControlName="usar_SPID" groupName="usar_SPID"></app-radio-group>
    </div>
   </form>
 
    <div *ngIf="isMostrarBucCliente">
      <app-get-customer-data (showNextStep)="onShowNextStep($event)" *ngIf="displayStep_1"></app-get-customer-data>
      <app-get-bhf003-format-data  [customerData]="customerData"  *ngIf="displayStep_2"></app-get-bhf003-format-data>
    </div>
    <div *ngIf="isNuevosDatosCliente">
      <h1>Ingresar nuevos datos</h1>
    </div>

  </div>
 </div>