@import 'src/app/electronic-formats/global-styles';

.fe-es-cliente {
    max-width: 300px;
    & h3 {
        color: get-color(primary-color-3);
        font-size: get-fontPixels(medium);
        font-weight: bold;
    }
}
