@import 'src/app/electronic-formats/global-styles';

.ef-title-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: get-fontPixels(normal);
    font-weight: bold;
    color: get-color(primary-color-3);

    .ef-icon {
        margin-right: 5px;

        svg {
            width: 45px;
            height: 45px;
            fill: get-color(primary-color-5);
        }
    }
}
