<div class="ef-title-container">
  <div class="ef-icon">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
      <g>
        <g>
          <path d="M451.5,138.5L317.9,4.9c-3.2-3.2-7.5-4.9-11.8-4.9H72.3c-9.2,0-16.7,7.5-16.7,16.7v478.6c0,9.2,7.5,16.7,16.7,16.7h367.3
         c9.2,0,16.7-7.5,16.7-16.7v-345C456.3,146,454.6,141.6,451.5,138.5z M322.8,57c8.1,8.1,68.4,68.4,76.6,76.6h-76.6L322.8,57
         L322.8,57z M423,478.6H89V33.4h200.3v116.9c0,9.2,7.5,16.7,16.7,16.7H423L423,478.6L423,478.6z" />
        </g>
      </g>
      <g>
        <g>
          <path d="M372.9,244.9h-167c-9.2,0-16.7,7.5-16.7,16.7c0,9.2,7.5,16.7,16.7,16.7h167c9.2,0,16.7-7.5,16.7-16.7
         C389.6,252.3,382.1,244.9,372.9,244.9z" />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M372.9,311.7h-167c-9.2,0-16.7,7.5-16.7,16.7s7.5,16.7,16.7,16.7h167c9.2,0,16.7-7.5,16.7-16.7S382.1,311.7,372.9,311.7z" />
        </g>
      </g>
      <g>
        <g>
          <path
            d="M372.9,378.4h-167c-9.2,0-16.7,7.5-16.7,16.7s7.5,16.7,16.7,16.7h167c9.2,0,16.7-7.5,16.7-16.7S382.1,378.4,372.9,378.4z" />
        </g>
      </g>
      <g>
        <g>
          <circle cx="139.1" cy="261.6" r="16.7" />
        </g>
      </g>
      <g>
        <g>
          <circle cx="139.1" cy="328.3" r="16.7" />
        </g>
      </g>
      <g>
        <g>
          <circle cx="139.1" cy="395.1" r="16.7" />
        </g>
      </g>
    </svg>
  </div>
  <div>
    <div>{{ title }}</div>
    <div>{{ subtitle }}</div>
  </div>
</div>
