@import 'src/app/electronic-formats/global-styles';

.ef-radio-group{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    font-size: get-fontPixels(normal);
    font-weight: normal;
    color: get-color(primary-color-3);
    
    .ef-radio{
        width: 30%;
        input {
            margin-right: 10px;
        }
    }
}

/* El contenedor */
.ef-label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Se oculta el radio button original del navegador */
    &.ef-label-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Se crea un radio button personalizado */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 50%;
    }

    /* Con un "on mouse-over", se agrega el color de fondo gris */
    &.ef-label-container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* Cuando se marca el botón de opción, se agrega el fondo azul */
    &.ef-label-container input:checked ~ .checkmark {
        // background-color: #2196F3;
        background-color: get-color(primary-color-5);
    }
}

/* Se crea el indicador (punto/círculo - oculto cuando no está marcado) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Muestra el indicador (punto/círculo) cuando está marcado */
.ef-label-container input:checked ~ .checkmark:after {
    display: block;
}

/* Estilo del indicador (punto/círculo) */
.ef-label-container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
