<div class="ef-radio-group">
  <div class="ef-radio" *ngFor="let option of options">
    <label class="ef-label-container">
      <label for="idAux"></label>
      <input type="radio" name="{{ groupName }}" id="idAux" value="{{ option['id'] }}" (change)="changeSelected(option['id'], option['label'])" [attr.checked]="option['id'] == selectedOption['id'] ? 'checked' : null">{{ option['label'] }}
      <span class="checkmark"></span>
    </label>
  </div>
</div>