<table class="table table-bordered table-striped">  
  <tbody>
    <tr *ngFor="let checks of checks">
      <td></td>
      <td>{{ checks.label }}</td>
      <td>$ {{ checks.price }}</td>
    </tr>
  </tbody>
</table>

