<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img _ngcontent-c1="" alt="" class="homeClass ef-logo-san" id="img_logoSanander" src="../../../assets/img/LOGO SANTANDER/SVG/LOGO@1.5x.svg">
      </div>
      <div class="modal-body">
        <p class="text-center">{{ pregunta }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="ef-btn ef-gray ef-margin-right" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ef-btn ef-red" (click)="cancelFormat()">Aceptar</button>
      </div>
    </div>

  </div>
</div>
